@import "../../assets/styles/base.scss";

::ng-deep.mat-dialog-container {
  background: none !important;
  box-shadow: none !important;
}

.download-link {
  margin-left: 5px;
  height: 24px;
  color: inherit;
}
