.structure-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(189px, 1fr));
  grid-template-rows: repeat(auto-fill, 250px);
  align-items: center;
  justify-content: space-between;

  &--list {
    grid-template-columns: unset;
  }

  &--hide {
    display: none;
  }
}

.structure-outlet {
  display: none;
}
